{# src/Codopenex/AdminBundle/Resouces/views/users.html.twig #}
{% extends 'XperedonBlogBundle::layout.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
	<table style="padding:10px; border: 1px solid #333;">
	{% for user in users %}
    	<tr><td>{{ user.username }}</td><td>{{ user.email }}</td></tr>
    {% endfor %}
    </table>
{% endblock %}
